[submodule "foundry-fund-me-f23/lib/foundry-devops"]
	path = foundry-fund-me-f23/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "foundry-smart-contract-lottery-f25/lib/chainlink"]
	path = foundry-smart-contract-lottery-f25/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "foundry-smart-contract-lottery-f25/lib/chainlink-brownie-contracts"]
	path = foundry-smart-contract-lottery-f25/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
